# Questions on Variables and Data Types

1. What is a variable in Python?

variable is an object which can contain different kinds of data types, example int, floats, strings, mathematical expressions, boolean, list, tuple, dictionary etc.

2. How do you create a variable?

it can be created by decalring a variable name and assigning value to it by assignment operator

3. How do you check the value within a variable?

we can check the value with print function and its data type can  be checked with type function

4. How do you create multiple variables in a single statement?

In [3]:
x, y, z = 2, 3, 4

In [4]:
x

2

In [5]:
y

3

In [6]:
z

4

5. How do you create multiple variables with the same value?

In [16]:
a = b = c = 2

In [17]:
a

2

In [18]:
b

2

In [19]:
c

2

6. How do you change the value of a variable?

In [20]:
a

2

In [21]:
a = 5

In [22]:
a

5

7. How do you reassign a variable by modifying the previous value?

In [23]:
a

5

In [24]:
a += 5

In [25]:
a

10

8. What does the statement counter += 4 do?

it will add 4 with the value of counter and reassigns the value to counter

In [27]:
counter = 2

In [28]:
counter += 4

In [29]:
counter

6

9. What are the rules for naming a variable?

it should start with an alphabet, it can be small case or upper case

10. Are variable names case-sensitive? Do a_variable, A_Variable, and A_VARIABLE represent the same variable or different ones?

diff variables they are

11. What is Syntax? Why is it important?
12. What happens if you execute a statement with invalid syntax?

Syntax is a set of rules which interpreter can understand while executing the code, it will throw an error when it encounters syntax error

13. How do you check the data type of a variable?

In [39]:
#with type function
a = 3
print(type(a))

<class 'int'>

In [40]:
14. What are the built-in data types in Python?

Object `Python` not found.

In [ ]:
14. What are the built-in data types in Python

In [41]:
"""
int
float
str
list
tuple
dict
bool
"""

'\nint\nfloat\nstr\nlist\ntuple\ndict\nbool\n'

15. What is a primitive data type?

In [42]:
# It is basic data type from which other data types are created

What are the primitive data types available in Python?

In [43]:
#int
#float
#string
#bool

# What happens if you try to use a boolean in arithmetic operation?

In [1]:
1 + 7 + True

9

In [2]:
1 * False +3

3

# How can any value in Python be covered to a boolean?

In [3]:
bool(5)

True

In [4]:
bool(0)

False

In [5]:
bool(' ')

True

# How do you check the length of a string?

In [42]:
str4 = 'hello '

In [43]:
len(str4)

6

# How do you convert a string into a list of characters?

In [9]:
str1 = 'h,e,l,l,o'

In [10]:
str1.split(',')

['h', 'e', 'l', 'l', 'o']

# How do you access a specific character from a string?

In [11]:
str1[0]

'h'

In [12]:
str1[2]

'e'

# How do you access a range of characters from a string?

In [13]:
str1[1:4]

',e,'

# How do you check if a specific character occurs in a string?

In [14]:
'h' in str1

True

# How do you check if a smaller string occurs within a bigger string?

In [47]:
'hell' in str

False

# How do you join two or more strings?

In [19]:
str + str1

'hello h,e,l,l,o'

# What do the .lower, .upper and .capitalize methods on strings do?

In [20]:
str

'hello '

In [21]:
str = 'heLLo'

In [22]:
str.lower()

'hello'

In [23]:
str.upper()

'HELLO'

In [24]:
str.capitalize()

'Hello'

#  How do you replace a specific part of a string with something else?

In [25]:
str.replace('h', 'kh')

'kheLLo'

# How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?

In [26]:
str2 = "Sun,Mon,Tue,Wed,Thu,Fri,Sat"

In [27]:
str2.split(',')

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

# How do you remove whitespace from the beginning and end of a string?

In [28]:
str3 = '    jjjj   kkk   '

In [29]:
str3.strip()

'jjjj   kkk'

# What is the string .format method used for? Can you give an example?

In [30]:
cost_of_1_pencil = 2
num_of_pencil = 10
total_cost = 'total cost of {} pencils is {}, when 1 pencil costs {}'

In [31]:
total_cost.format(num_of_pencil, cost_of_1_pencil* num_of_pencil, cost_of_1_pencil)

'total cost of 10 pencils is 20, when 1 pencil costs 2'

# How do you convert a value of another type to a string?

In [34]:
num = 2

In [41]:
str

'heLLo'