Reading a CSV file using Pandas

In [1]:
from urllib.request import urlretrieve

In [3]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

In [4]:
urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x190e3180c70>)

In [5]:
import os

In [9]:
os.listdir()

['.ipynb_checkpoints',
 '.jovianrc',
 'data',
 'data2',
 'italy-covid-daywise.csv',
 'movies2.csv',
 'movies3.csv',
 'python-pandas-data-analysis.ipynb',
 'Untitled.ipynb',
 'x.csv']

In [10]:
import pandas as pd

In [11]:
pd.read_csv('italy-covid-daywise.csv')

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [12]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [13]:
#check the type of covid_df
type(covid_df)

pandas.core.frame.DataFrame

In [14]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

## Jyst by looking at the above data what we can tell?

1. counts are provided for each day
2. matrices are new cases, new deaths and new tests for each day
3. above data is of 248 days, starting from 31st dec, 2019 to 3rd sep, 2020

## Q> How to view some basic information about data?
## A> With DataFrame.info() method

In [16]:
# we have a dataframe for the above data, also we can get it with just by reading the csv file using pandas func, pd.read_csv(file)
covid_df = pd.read_csv('italy-covid-daywise.csv')
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

#### Q> What information we get using .info() method on pandas dataframe?
#### A> 
1. Number of rows/entries
2. number of data columns
3. columnwise info of data columns inlcluding 
    * index, 
    * column name,
    * Non-Null Count
    * Dtype
4. memory usage

### Q> How to view statistical information for numerical columns?
### A> with DataFrame.describe() method

### Q> What kind of statistical information we get with .describe() method for numerical columns?
### A> we get
1. count
2. mean
3. standard deviation
4. minimum 
5. 25%, 50%, 75%
6. maximum values

In [17]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000