# 1. Reading a CSV file using Pandas

In [1]:
from urllib.request import urlretrieve

In [2]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

In [3]:
urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x1da91d6fb80>)

In [4]:
import os

In [5]:
os.listdir()

['.ipynb_checkpoints',
 '.jovianrc',
 'data',
 'data2',
 'italy-covid-daywise.csv',
 'movies2.csv',
 'movies3.csv',
 'python-pandas-data-analysis.ipynb',
 'Untitled.ipynb',
 'x.csv']

In [6]:
import pandas as pd

In [7]:
pd.read_csv('italy-covid-daywise.csv')

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [8]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [9]:
#check the type of covid_df
type(covid_df)

pandas.core.frame.DataFrame

In [10]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

## Jyst by looking at the above data what we can tell?

1. counts are provided for each day
2. matrices are new cases, new deaths and new tests for each day
3. above data is of 248 days, starting from 31st dec, 2019 to 3rd sep, 2020

## Q> How to view some basic information about data?
## A> With DataFrame.info() method

In [11]:
# we have a dataframe for the above data, also we can get it with just by reading the csv file using pandas func, pd.read_csv(file)
covid_df = pd.read_csv('italy-covid-daywise.csv')
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

#### Q> What information we get using .info() method on pandas dataframe?
#### A> 
1. Number of rows/entries
2. number of data columns
3. columnwise info of data columns inlcluding 
    * index, 
    * column name,
    * Non-Null Count
    * Dtype
4. memory usage

### Q> How to view statistical information for numerical columns?
### A> with DataFrame.describe() method

### Q> What kind of statistical information we get with .describe() method for numerical columns?
### A> we get
1. count
2. mean
3. standard deviation
4. minimum 
5. 25%, 50%, 75%
6. maximum values

In [12]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

#### Q> Which property we should use to get the columns within the dataframe?
#### A> dataframe.columns

In [13]:
a = covid_df.columns #returns list of columns

In [14]:
a

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [15]:
for i in range(len(a)):
    print(a[i])

date
new_cases
new_deaths
new_tests

#### Q> How to get the number of rows and columns in a dataframe?
#### A> with .shape property we can retrieve number of rows and columns

In [16]:
covid_df.shape

(248, 4)

# 2. Retrieving data from a dataframe

In [17]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

#### Retrieve new_cases column

In [18]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

#### What is the type of retrieved data

In [19]:
type(covid_df['new_cases'])

pandas.core.series.Series

#### How to retrieve specific value

In [20]:
covid_df['new_cases'][246]

975.0

In [21]:
covid_df['new_tests'][111]

7841.0

#### How to retrieve speicifc value using row number and column name

In [22]:
covid_df.at[111, 'new_tests']

7841.0

In [23]:
covid_df.at[246, 'new_cases']

975.0

#### access column of data frame without bracket notation, with .notation,
#### works only if column name does not contain spaces or special characters

In [24]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

#### If you want multiple columns data at once, pass list of columns in the bracket notation

In [25]:
cases_tests_df = covid_df[['new_cases', 'new_tests']]
cases_tests_df

     new_cases  new_tests
0          0.0        NaN
1          0.0        NaN
2          0.0        NaN
3          0.0        NaN
4          0.0        NaN
..         ...        ...
243     1444.0    53541.0
244     1365.0    42583.0
245      996.0    54395.0
246      975.0        NaN
247     1326.0        NaN

[248 rows x 2 columns]

#### Q> How to make full copy of a dataframe?
#### A> with .copy method

In [26]:
covid_copy_df = covid_df.copy()

In [27]:
covid_copy_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

#### Q> covid_df and covid_copy_df are completely separate dataframes
#### A> yes, .copy() method creates completely separate dataframes, changing values inside one of them will not change the other

#### Q> How to access specific row of data
#### A> with .loc method

In [28]:
covid_df.loc[247]

date          2020-09-03
new_cases         1326.0
new_deaths           6.0
new_tests            NaN
Name: 247, dtype: object

In [29]:
covid_df.loc[246]

date          2020-09-02
new_cases          975.0
new_deaths           8.0
new_tests            NaN
Name: 246, dtype: object

#### Q> What is the type of covid_df.loc[index]
#### A> pandas.core.series.Series

In [30]:
#A>
type(covid_df.loc[246])

pandas.core.series.Series

#### Q> Which method allows us to view the few first or few last rows of data in a dataframe?
#### A> .head allows to view first few rows of data and .tail() allows us to view the last few rows

In [31]:
covid_df.head(3)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN

In [32]:
covid_df.tail(3)

           date  new_cases  new_deaths  new_tests
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [33]:
type(covid_df.head(3))

pandas.core.frame.DataFrame

#### verify 2nd row has 0 new cases and 1st row has NaN new tests

In [34]:
covid_df.at[1, 'new_cases']

0.0

In [35]:
covid_df.at[0, 'new_tests']

nan

what is the data type of nan values for new tests

In [36]:
type(covid_df.at[0, 'new_tests'])

numpy.float64

#### Q> How to find the first index that doesn't contain NaN value
#### A> using .first_valid_index() method

In [37]:
covid_df.new_tests.first_valid_index()

111

#### verify 111 index has no NaN value for new_tests

In [38]:
covid_df.at[111, 'new_tests']

7841.0

In [39]:
covid_df.at[110, 'new_tests']

nan

#### check the data from 108 to 113 index

In [40]:
covid_df.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0

#### Q> How to retrieve random sample of rows from dataframe
### A> with .sample() method, argument is number of samples

In [41]:
covid_df.sample(5)

           date  new_cases  new_deaths  new_tests
63   2020-03-03      347.0        17.0        NaN
216  2020-08-03      238.0         8.0    13467.0
152  2020-05-31      416.0       111.0    28948.0
61   2020-03-01      240.0         8.0        NaN
15   2020-01-15        0.0         0.0        NaN

In [42]:
covid_df.loc[99]

date          2020-04-08
new_cases         3039.0
new_deaths         604.0
new_tests            NaN
Name: 99, dtype: object

In [43]:
covid_df.at[99, 'new_tests']

nan

# 3. Analyzing data from dataframes

**Q: What are the total number of reported cases and deaths related to Covid-19 in Italy?**

In [44]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [45]:
print('Total number of new cases is {} and total deaths in italy is {}'.format(int(total_cases), int(total_deaths)))

Total number of new cases is 271515 and total deaths in italy is 35497

#### Q: What is the overall death rate (ratio of reported deaths to reported cases)?

In [46]:
death_ratio = covid_df.new_deaths.sum()/covid_df.new_cases.sum()

In [47]:
print('death rate is {:.2f} %.'.format(death_ratio * 100))

death rate is 13.07 %.

**Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported.**

In [48]:
test_already_conducted = 935310
overall_tests = covid_df.new_tests.sum() + test_already_conducted
print('Overall number of tests is {}'.format(int(overall_tests)))

Overall number of tests is 5214766

**Q: What fraction of tests returned a positive result?**

In [49]:
positive_result = covid_df.new_cases.sum()/(covid_df.new_tests.sum()+test_already_conducted)
print('{:.2f} % resulted in positive result'.format(positive_result*100))

5.21 % resulted in positive result

In [50]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

### Ask more questions and answers them in next seating

In [51]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

#### Q: When 1st death occurred in Italy as per the above data?

In [52]:
x = covid_df.new_deaths
for i in range(len(x)):
    if x[i] != 0.0:
        print('1st death occured on Day {} and the date was {}'.format((i+1) ,covid_df.date[i]))
        break
    else:
        continue

1st death occured on Day 55 and the date was 2020-02-23

In [53]:
# verify above statement
covid_df.at[54, 'date']

'2020-02-23'

In [54]:
covid_df.loc[50:60]

          date  new_cases  new_deaths  new_tests
50  2020-02-19        0.0         0.0        NaN
51  2020-02-20        0.0         0.0        NaN
52  2020-02-21        0.0         0.0        NaN
53  2020-02-22       14.0         0.0        NaN
54  2020-02-23       62.0         2.0        NaN
55  2020-02-24       53.0         0.0        NaN
56  2020-02-25       97.0         4.0        NaN
57  2020-02-26       93.0         5.0        NaN
58  2020-02-27       78.0         1.0        NaN
59  2020-02-28      250.0         5.0        NaN
60  2020-02-29      238.0         4.0        NaN

#### Q: On which date has the highest number of deaths?

In [55]:
import numpy as np
a = covid_df.new_deaths
a = np.array(covid_df.new_deaths)
max_death = np.max(a)
for i in range(len(a)):
    if a[i] == max_death:
        print('Highest number of death occurred on {} and the day number is {}.'.format(covid_df.at[i, 'date'], (i+1)))

Highest number of death occurred on 2020-03-28 and the day number is 89.

In [56]:
#verify above data
covid_df.loc[85:95]

          date  new_cases  new_deaths  new_tests
85  2020-03-25     5249.0       743.0        NaN
86  2020-03-26     5210.0       685.0        NaN
87  2020-03-27     6153.0       660.0        NaN
88  2020-03-28     5959.0       971.0        NaN
89  2020-03-29     5974.0       887.0        NaN
90  2020-03-30     5217.0       758.0        NaN
91  2020-03-31     4050.0       810.0        NaN
92  2020-04-01     4053.0       839.0        NaN
93  2020-04-02     4782.0       727.0        NaN
94  2020-04-03     4668.0       760.0        NaN
95  2020-04-04     4585.0       764.0        NaN

#### Q: On which date has the highest number of new cases?

In [57]:
index = covid_df[covid_df['new_cases'] == covid_df.new_cases.max()].index[0]
print('Highest number of new cases is {} which occurred on {} and day number is {}.'.format(covid_df.new_cases.max(), covid_df.at[index, 'date'], (index+1)))

Highest number of new cases is 6557.0 which occurred on 2020-03-22 and day number is 83.

In [58]:
#verify above statement
covid_df.loc[80:85]

          date  new_cases  new_deaths  new_tests
80  2020-03-20     5322.0       429.0        NaN
81  2020-03-21     5986.0       625.0        NaN
82  2020-03-22     6557.0       795.0        NaN
83  2020-03-23     5560.0       649.0        NaN
84  2020-03-24     4789.0       601.0        NaN
85  2020-03-25     5249.0       743.0        NaN

#### Q: On which date has the highest number of new testing?

In [59]:
highest_new_tests = covid_df.new_tests.max()
index = covid_df[covid_df.new_tests == highest_new_tests].index[0]
print('Highest number of tests is {} which is done on {} and the index number is {}.'.format(int(highest_new_tests), covid_df.date[index], (index)))

Highest number of tests is 95273 which is done on 2020-04-24 and the index number is 115.

In [60]:
covid_df.loc[112:117]

           date  new_cases  new_deaths  new_tests
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0

In [61]:
covid_df[covid_df.new_tests==28095.0].index[0]

112

In [62]:
covid_df.at[112, 'new_cases']

2256.0

In [63]:
covid_df.at[112, 'new_deaths']

454.0

# 4. Querying and Sorting rows

#### Q> How to check if new_cases column has more then 1000 count

In [64]:
high_new_cases = covid_df.new_cases > 1000

In [65]:
high_new_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [69]:
type(high_new_cases[0])

numpy.bool_

In [71]:
covid_df[high_new_cases]  #gives dataframe of new cases which are greater than 1000 cases

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [91]:
!pip install ipython

Requirement already satisfied: ipython in c:\users\india\anaconda3\lib\site-packages (7.31.1)
Requirement already satisfied: jedi>=0.16 in c:\users\india\anaconda3\lib\site-packages (from ipython) (0.18.1)
Requirement already satisfied: backcall in c:\users\india\anaconda3\lib\site-packages (from ipython) (0.2.0)
Requirement already satisfied: pygments in c:\users\india\anaconda3\lib\site-packages (from ipython) (2.11.2)
Requirement already satisfied: colorama in c:\users\india\anaconda3\lib\site-packages (from ipython) (0.4.5)
Requirement already satisfied: matplotlib-inline in c:\users\india\anaconda3\lib\site-packages (from ipython) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\india\anaconda3\lib\site-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\india\anaconda3\lib\site-packages (from ipython) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in c:\users\india\anaconda3\lib\site-packages (from ipython) (5.1.1)
Requirement already satisfied: decorator in c:\users\india\anaconda3\lib\site-packages (from ipython) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\india\anaconda3\lib\site-packages (from ipython) (63.4.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\india\anaconda3\lib\site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\india\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)

In [95]:
!pip install IPython

Requirement already satisfied: IPython in c:\users\india\anaconda3\lib\site-packages (7.31.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\india\anaconda3\lib\site-packages (from IPython) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\india\anaconda3\lib\site-packages (from IPython) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\india\anaconda3\lib\site-packages (from IPython) (0.1.6)
Requirement already satisfied: pygments in c:\users\india\anaconda3\lib\site-packages (from IPython) (2.11.2)
Requirement already satisfied: colorama in c:\users\india\anaconda3\lib\site-packages (from IPython) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\india\anaconda3\lib\site-packages (from IPython) (5.1.1)
Requirement already satisfied: backcall in c:\users\india\anaconda3\lib\site-packages (from IPython) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\india\anaconda3\lib\site-packages (from IPython) (0.18.1)
Requirement already satisfied: decorator in c:\users\india\anaconda3\lib\site-packages (from IPython) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\india\anaconda3\lib\site-packages (from IPython) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\india\anaconda3\lib\site-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\india\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.2.5)

In [99]:
#to view all the rows we can change the display options in jupyter
import IPython
from Ipython.display import display
with pd.option_context('display.max_rows', 100):
    display(covid_df[covid_df.new_cases>1000])

ModuleNotFoundError: No module named 'Ipython'

#### Q> generate new dataframe which has death more than 1000

In [72]:
high_num_deaths = covid_df.new_deaths > 1000

In [76]:
high_num_deaths

0      False
1      False
2      False
3      False
4      False
       ...
243    False
244    False
245    False
246    False
247    False
Name: new_deaths, Length: 248, dtype: bool

In [78]:
covid_df[high_num_deaths] # gives empty dataframe which signifies there is no day which has more than 1000 deaths

Empty DataFrame
Columns: [date, new_cases, new_deaths, new_tests]
Index: []

#### Q> generate new dataframe which has death more than 500

In [84]:
num_death_500 = covid_df.new_deaths > 500
print(covid_df[num_death_500])
print('{} days has deaths more than 500'.format(covid_df[num_death_500].count()))

           date  new_cases  new_deaths  new_tests
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
113  2020-04-22     2729.0       534.0    44248.0
date          29
new_cases     29
new_deaths    29
new_tests      1
dtype: int64 days has deaths more than 500

In [89]:
covid_df[num_death_500].count()['date']

29

In [102]:
positive_result

0.05206657403227681

#### determine the days when the ratio of cases reported to tests conducted is higher than the overall positive_result

In [104]:
high_ratio_df = covid_df[covid_df.new_cases/covid_df.new_tests > positive_result]

In [105]:
high_ratio_df

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
120  2020-04-29     2091.0       382.0    38589.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
128  2020-05-07     1444.0       369.0    13665.0

#### result of performing an operation on 2 columns is a new series

In [106]:
covid_df.new_cases / covid_df.new_tests

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
243    0.026970
244    0.032055
245    0.018311
246         NaN
247         NaN
Length: 248, dtype: float64

#### we can use above series to add a new column to the dataframe

#### how to add a new column

In [107]:
covid_df['positive_rate'] = covid_df.new_cases/covid_df.new_tests

In [108]:
covid_df

           date  new_cases  new_deaths  new_tests  positive_rate
0    2019-12-31        0.0         0.0        NaN            NaN
1    2020-01-01        0.0         0.0        NaN            NaN
2    2020-01-02        0.0         0.0        NaN            NaN
3    2020-01-03        0.0         0.0        NaN            NaN
4    2020-01-04        0.0         0.0        NaN            NaN
..          ...        ...         ...        ...            ...
243  2020-08-30     1444.0         1.0    53541.0       0.026970
244  2020-08-31     1365.0         4.0    42583.0       0.032055
245  2020-09-01      996.0         6.0    54395.0       0.018311
246  2020-09-02      975.0         8.0        NaN            NaN
247  2020-09-03     1326.0         6.0        NaN            NaN

[248 rows x 5 columns]

#### how to remove column, remove positive_rate column from dataframe

In [109]:
covid_df.drop(columns=['positive_rate'])

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [110]:
covid_df['positive_rate'] = covid_df.new_cases/covid_df.new_tests
covid_df

           date  new_cases  new_deaths  new_tests  positive_rate
0    2019-12-31        0.0         0.0        NaN            NaN
1    2020-01-01        0.0         0.0        NaN            NaN
2    2020-01-02        0.0         0.0        NaN            NaN
3    2020-01-03        0.0         0.0        NaN            NaN
4    2020-01-04        0.0         0.0        NaN            NaN
..          ...        ...         ...        ...            ...
243  2020-08-30     1444.0         1.0    53541.0       0.026970
244  2020-08-31     1365.0         4.0    42583.0       0.032055
245  2020-09-01      996.0         6.0    54395.0       0.018311
246  2020-09-02      975.0         8.0        NaN            NaN
247  2020-09-03     1326.0         6.0        NaN            NaN

[248 rows x 5 columns]

In [111]:
covid_df.drop(columns=['positive_rate'], inplace=True)

In [112]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

### when argument inplace=True is set, it means it will drop the column and return the modified dataframe
### when inplace = False is set, it means it will drop the column and return the new dataframe

## Sorting rows using column values

#### Sort the dataframe to identify the days with the highest number of cases, chain it with head method to list first 10 results

In [115]:
covid_df.sort_values('new_cases', ascending=False).head(10)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN

#### Sort the dataframe with the highest number of deaths and show first 10

In [116]:
covid_df.sort_values('new_deaths', ascending=False).head(10)

          date  new_cases  new_deaths  new_tests
88  2020-03-28     5959.0       971.0        NaN
89  2020-03-29     5974.0       887.0        NaN
92  2020-04-01     4053.0       839.0        NaN
91  2020-03-31     4050.0       810.0        NaN
82  2020-03-22     6557.0       795.0        NaN
95  2020-04-04     4585.0       764.0        NaN
94  2020-04-03     4668.0       760.0        NaN
90  2020-03-30     5217.0       758.0        NaN
85  2020-03-25     5249.0       743.0        NaN
93  2020-04-02     4782.0       727.0        NaN

#### Sort the datafeame with the highest number of new tests and show first 10

In [121]:
covid_df.sort_values('new_tests', ascending=False).head(10)

           date  new_cases  new_deaths  new_tests
115  2020-04-24     2646.0       464.0    95273.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
239  2020-08-26      876.0         4.0    58054.0
240  2020-08-27     1366.0        13.0    57640.0
245  2020-09-01      996.0         6.0    54395.0
243  2020-08-30     1444.0         1.0    53541.0
233  2020-08-20      642.0         7.0    49662.0
236  2020-08-23     1071.0         3.0    47463.0
235  2020-08-22      947.0         9.0    46613.0

### sort the dataframe with the lest number of cases, show first 10

In [122]:
covid_df.sort_values('new_cases', ascending=True).head(10)

           date  new_cases  new_deaths  new_tests
172  2020-06-20     -148.0        47.0    29875.0
0    2019-12-31        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
30   2020-01-30        0.0         0.0        NaN
32   2020-02-01        0.0         0.0        NaN
33   2020-02-02        0.0         0.0        NaN
34   2020-02-03        0.0         0.0        NaN
36   2020-02-05        0.0         0.0        NaN
37   2020-02-06        0.0         0.0        NaN
38   2020-02-07        0.0         0.0        NaN

In [125]:
covid_df[covid_df['date'] >= '2020-06-20'].index[0]

172

### check the before and after 20th June in dataframe

In [126]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

As we can see on 20th june we are having -ve number of new cases which is the wrong data, 
we can do some operation to replace the current negative value
wht we can do is:
1. replace with 0
2. replace with avg of entire column
3. replace with ang values of previous and next date
4. dsicard the row entirely

3. replace with avg vcalue of prev and next date with .at method to modify specific value

In [129]:
covid_df.at[172, 'new_cases'] =  int((covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases'])/2)

In [130]:
covid_df.at[172, 'new_cases']

297.0

In [131]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [134]:
covid_df.new_cases.min()

0.0

### Replace the new_test value of NaN to 0 on 3rd sept, 2020

In [135]:
covid_df.at[247, 'new_tests'] = 0

In [136]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        0.0

[248 rows x 4 columns]