In [4]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [30]:
import os

In [31]:
from urllib.request import urlretrieve

In [32]:
os.makedirs('./data')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: './data'

In [33]:
urlretrieve(movies_url, 'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x13b07c8c580>)

In [34]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'Untitled.ipynb']

In [35]:
os.remove('data.movies.csv')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'data.movies.csv'

In [36]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'Untitled.ipynb']

now read csv

In [17]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\india\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\india\anaconda3\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\india\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
import pandas as pd

In [23]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [24]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

convert dataframe into list of dictionaries with to_dict method

In [25]:
movies = movies_dataframe.to_dict('records')

In [26]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

if 'records' argument is not passed in to_dict method you will get dictionaries of lists

In [27]:
movies_dict = movies_dataframe.to_dict()

In [28]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

write data with write_csv func

In [29]:
write_csv(movies, 'movies2.csv')

NameError: name 'write_csv' is not defined

In [40]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])
    return loans
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [44]:
loans3 = read_csv('./data/movies.csv')

In [45]:
loans3

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [47]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [48]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

dataframe can be converted into list of dictonaries with to_dict function, 'records' argument should be passed

In [51]:
movies = movies_dataframe.to_dict('records')

In [52]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

if records argument is not passed, will get dictionary of lists

In [53]:
movies_dict = movies_dataframe.to_dict()

In [54]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

with write_csv, write the data in movies back to csv file

In [55]:
write_csv(movies, 'movies2.csv')

In [56]:
os.listdir('./data')

['movies.csv']

In [57]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'movies2.csv', 'Untitled.ipynb']

In [58]:
x = pd.read_csv('movies2.csv')

In [59]:
x

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

above csv file is not formatted properly

to convert list of dictionaries into dataframe, we should use pd.DataFrame constrcutor

In [60]:
df2 = pd.DataFrame(movies)

In [61]:
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

after converting to list of dicts to dataframe, now it can be written to csv file with .to_csv method

In [62]:
df2.to_csv('movies3.csv', index=None)

In [63]:
pd.read_csv('movies3.csv')

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

so u have read the csv with pd.read_csv func, it will return dataframe
u can carry out lists of dictionaries with dataframe.to_dict('records')
now if you want to write the dictionaries in csv file, u must first convert list of dicts into dataframe with pd.DataFrame(name)
now converted dataframe must be converted into csv to be properly formatted
converted.to_csv('filename.csv', index=No)