In [4]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [30]:
import os

In [31]:
from urllib.request import urlretrieve

In [32]:
os.makedirs('./data')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: './data'

In [33]:
urlretrieve(movies_url, 'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x13b07c8c580>)

In [34]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'Untitled.ipynb']

In [35]:
os.remove('data.movies.csv')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'data.movies.csv'

In [36]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'Untitled.ipynb']

now read csv

In [17]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\india\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\india\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\india\anaconda3\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\india\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
import pandas as pd

In [23]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [24]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

convert dataframe into list of dictionaries with to_dict method

In [25]:
movies = movies_dataframe.to_dict('records')

In [26]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

if 'records' argument is not passed in to_dict method you will get dictionaries of lists

In [27]:
movies_dict = movies_dataframe.to_dict()

In [28]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

write data with write_csv func

In [29]:
write_csv(movies, 'movies2.csv')

NameError: name 'write_csv' is not defined

In [40]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])
    return loans
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [44]:
loans3 = read_csv('./data/movies.csv')

In [45]:
loans3

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [47]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [48]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

dataframe can be converted into list of dictonaries with to_dict function, 'records' argument should be passed

In [51]:
movies = movies_dataframe.to_dict('records')

In [52]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

if records argument is not passed, will get dictionary of lists

In [53]:
movies_dict = movies_dataframe.to_dict()

In [54]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

with write_csv, write the data in movies back to csv file

In [55]:
write_csv(movies, 'movies2.csv')

In [56]:
os.listdir('./data')

['movies.csv']

In [57]:
os.listdir()

['.ipynb_checkpoints', '.jovianrc', 'data', 'movies2.csv', 'Untitled.ipynb']

In [58]:
x = pd.read_csv('movies2.csv')

In [59]:
x

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

above csv file is not formatted properly

to convert list of dictionaries into dataframe, we should use pd.DataFrame constrcutor

In [60]:
df2 = pd.DataFrame(movies)

In [61]:
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

after converting to list of dicts to dataframe, now it can be written to csv file with .to_csv method

In [157]:
x = df2.to_csv('movies3.csv', index=None)

In [363]:
x

     amount  duration  rate  down_payment
0     45230        48  0.07        4300.0
1    883000        16  0.14           NaN
2    100000        12  0.10           NaN
3    728400       120  0.12      100000.0
4   3637400       240  0.06           NaN
5     82900        90  0.07        8900.0
6    316000        16  0.13           NaN
7     15230        48  0.08        4300.0
8    991360        99  0.08           NaN
9    323000        27  0.09       47200.0
10    10000        36  0.08       20000.0
11   528400       120  0.11      100000.0
12  8633400       240  0.06           NaN
13    12900        90  0.08        8900.0

so u have read the csv with pd.read_csv func, it will return dataframe
u can carry out lists of dictionaries with dataframe.to_dict('records')
now if you want to write the dictionaries in csv file, u must first convert list of dicts into dataframe with pd.DataFrame(name)
now converted dataframe must be converted into csv to be properly formatted
converted.to_csv('filename.csv', index=None)
now read the csv and it will be properly formatted in the same way it was

# Exercise

In [64]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [67]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x13b07cecee0>)

In [69]:
urlretrieve(url1, './data/loans1.txt')
urlretrieve(url2, './data/loans2.txt')
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x13b07cec6d0>)

In [71]:
os.listdir('./data')

['loans1.txt', 'loans2.txt', 'loans3.txt', 'movies.csv']

In [325]:
x = pd.read_csv('data/loans3.txt')

In [326]:
x

     amount  duration  rate  down_payment
0     45230        48  0.07        4300.0
1    883000        16  0.14           NaN
2    100000        12  0.10           NaN
3    728400       120  0.12      100000.0
4   3637400       240  0.06           NaN
5     82900        90  0.07        8900.0
6    316000        16  0.13           NaN
7     15230        48  0.08        4300.0
8    991360        99  0.08           NaN
9    323000        27  0.09       47200.0
10    10000        36  0.08       20000.0
11   528400       120  0.11      100000.0
12  8633400       240  0.06           NaN
13    12900        90  0.08        8900.0

In [327]:
y = x.to_dict('records')

In [328]:
y

[{'amount': 45230, 'duration': 48, 'rate': 0.07, 'down_payment': 4300.0},
 {'amount': 883000, 'duration': 16, 'rate': 0.14, 'down_payment': nan},
 {'amount': 100000, 'duration': 12, 'rate': 0.1, 'down_payment': nan},
 {'amount': 728400, 'duration': 120, 'rate': 0.12, 'down_payment': 100000.0},
 {'amount': 3637400, 'duration': 240, 'rate': 0.06, 'down_payment': nan},
 {'amount': 82900, 'duration': 90, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 316000, 'duration': 16, 'rate': 0.13, 'down_payment': nan},
 {'amount': 15230, 'duration': 48, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360, 'duration': 99, 'rate': 0.08, 'down_payment': nan},
 {'amount': 323000, 'duration': 27, 'rate': 0.09, 'down_payment': 47200.0},
 {'amount': 10000, 'duration': 36, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 528400, 'duration': 120, 'rate': 0.11, 'down_payment': 100000.0},
 {'amount': 8633400, 'duration': 240, 'rate': 0.06, 'down_payment': nan},
 {'amount': 12900, 'duration': 90, 'rate': 0.08, 'down_payment': 8900.0}]

In [111]:
len(y)

9

In [129]:
y[8]['amount']

423000

In [105]:
z = y[1].keys()

In [106]:
z

dict_keys(['amount', 'duration', 'rate', 'down_payment'])

In [165]:
import math
def read_csv_columnar(path):
    file = pd.read_csv(path)
    file_dict = file.to_dict('records')
    header = {}
    value = []
    for key in file_dict[0].keys():
#         header.append(key)
        for i in range(len(file_dict)):
            if math.isnan(file_dict[i][key]):
                value.append(0.0)
            else:
                value.append(file_dict[i][key])
        header[key] = value
        value = []
        z = pd.DataFrame(header)
        y = z.to_dict('records')
    return header

In [167]:
a = read_csv_columnar('data/loans1.txt')

In [169]:
print(a)

{'amount': [100000, 200000, 628400, 4637400, 42900, 916000, 45230, 991360, 423000], 'duration': [36, 12, 120, 240, 90, 16, 48, 99, 27], 'rate': [0.08, 0.1, 0.12, 0.06, 0.07, 0.13, 0.08, 0.08, 0.09], 'down_payment': [20000.0, 0.0, 100000.0, 0.0, 8900.0, 0.0, 4300.0, 0.0, 47200.0]}

In [271]:
a['amount'][0]

100000

In [281]:
len(a['amount'])

9

In [287]:
# def compute_emis(loans):
#     for loan in loans:
#         loan['emi'] = loan_emi(
#             loan['amount'], 
#             loan['duration'], 
#             loan['rate']/12, # the CSV contains yearly rates
#             loan['down_payment'])
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount/duration
    return math.ceil(emi)

def compute_emis(loans):
    x = []
#     for header, value in loans.items():
    for i in range (len(loans['amount'])):
        emi = loan_emi(loans['amount'][i],
                       loans['duration'][i],
                       loans['rate'][i]/12,
                       loans['down_payment'][i])
        x.append(emi)
    
    loans['emi'] = x
    return loans

In [293]:
emis = compute_emis(a)

In [308]:
def write_csv_columnar(dic):
    dic_dataframe = pd.DataFrame(dic)
    new_csv = dic_dataframe.to_csv('x.csv', index=None)
    return dic_dataframe

In [309]:
z = write_csv_columnar(emis)

In [310]:
os.listdir()

['.ipynb_checkpoints',
 '.jovianrc',
 'data',
 'movies2.csv',
 'movies3.csv',
 'Untitled.ipynb',
 'x.csv']

In [311]:
pd.read_csv('x.csv')

    amount  duration  rate  down_payment    emi
0   100000        36  0.08       20000.0   2507
1   200000        12  0.10           0.0  17584
2   628400       120  0.12      100000.0   7582
3  4637400       240  0.06           0.0  33224
4    42900        90  0.07        8900.0    487
5   916000        16  0.13           0.0  62664
6    45230        48  0.08        4300.0   1000
7   991360        99  0.08           0.0  13712
8   423000        27  0.09       47200.0  15428

In [306]:
os.remove('x.csv')

In [307]:
os.listdir()

['.ipynb_checkpoints',
 '.jovianrc',
 'data',
 'movies2.csv',
 'movies3.csv',
 'Untitled.ipynb']

In [375]:
import math
def read_csv_columnar(path):
    file = pd.read_csv(path)
    file_dict = file.to_dict('records')
    header = {}
    value = []
    for key in file_dict[0].keys():
#         header.append(key)
        for i in range(len(file_dict)):
            if math.isnan(file_dict[i][key]):
                value.append(0.0)
            else:
                value.append(file_dict[i][key])
        header[key] = value
        value = []
        z = pd.DataFrame(header)
        y = z.to_dict('records')
    return header
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount/duration
    return math.ceil(emi)

def compute_emis(loans):
    x = []
#     for header, value in loans.items():
    for i in range (len(loans['amount'])):
        emi = loan_emi(loans['amount'][i],
                       loans['duration'][i],
                       loans['rate'][i]/12,
                       loans['down_payment'][i])
        x.append(emi)
    
    loans['emi'] = x
    return loans
def write_csv_columnar(dic,path):
    dic_dataframe = pd.DataFrame(dic)
    new_csv = dic_dataframe.to_csv(path, index=None)

In [376]:
for i in range(1, 4):
    loans = read_csv_columnar('./data/loans{}.txt'.format(i))
    loans_with_emis = compute_emis(loans)
    os.makedirs('./data2', exist_ok=True)
    write_csv_columnar(loans_with_emis, './data2/emis{}.txt'.format(i))

In [372]:
loans = read_csv_columnar('./data/loans1.txt')
loans_with_emis = compute_emis(loans)
loans_with_emis
write_csv_columnar(loans_with_emis, './data2/x.txt')

In [361]:
write_csv_columnar(a, './data2/emis01.txt')

In [378]:
os.listdir('./data2')

['emis1.txt', 'emis2.txt', 'emis3.txt']