In [1]:
today = 'Saturday'

In [2]:
print('Today is', today)

Today is Saturday

In [3]:
def say_hello():
    print('hello!')
    print('how r u')

In [4]:
say_hello()

hello!
how r u

## function arguments

In [5]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [6]:
even_list = filter_even([1,2,3,4,5,6,7,8,91])

In [7]:
even_list

[2, 4, 6, 8]

## Problem on function

Radha is planning to buy a house that costs $1,260,000. She considering two options to finance her purchase:

* Option 1: Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.
* Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.

Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?

In [11]:
def loan_emi(amount):
    emi = amount / 12
    print('EMI is ${}'.format(emi))

In [12]:
loan_emi(1260000)

EMI is $105000.0

In [15]:
def loan_emi(amount, duration):
    emi = amount/duration
    print('EMI is ${}'.format(emi))

In [17]:
loan_emi(1260000, 120)

EMI is $10500.0

In [18]:
emi

NameError: name 'emi' is not defined

In [19]:
amount

NameError: name 'amount' is not defined

In [20]:
duration

NameError: name 'duration' is not defined

In [21]:
loan_emi(1260000, 8*12)

EMI is $13125.0

In [23]:
loan_emi(1260000,10*12)

EMI is $10500.0

In [24]:
def loan_emi(amount, duration):
    emi = amount/duration
    return emi

In [25]:
emi1 = loan_emi(1260000,8*12)

In [26]:
emi2 = loan_emi(1260000,10*12)

In [27]:
emi1

13125.0

In [28]:
emi2

10500.0

In [31]:
def loan_emi(amount, duration, rate, down_payment = 0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate *((1+rate)**duration)/(((1+rate)**duration)-1)
    return emi

In [32]:
loan_emi(1260000,8*12,0.1/12,3e5)

14567.19753389219

In [33]:
loan_emi(1260000, 10*12, 0.08/12)

15287.276888775077

### named arguments

In [34]:
emi1 = loan_emi(
    amount=1260000,
    duration=8*12,
    rate = 0.1/12,
    down_payment = 3e5
)

In [35]:
emi1

14567.19753389219

In [36]:
emi2 = loan_emi(
    amount = 1260000,
    duration=10*12,
    rate=0.08/12
)

In [37]:
emi2

15287.276888775077

In [38]:
import math

In [40]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [41]:
math.ceil(1.2)

2

In [42]:
def loan_emi(amount, duration,rate,down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [43]:
emi1 = loan_emi(
    amount = 1260000,
    duration = 8*12,
    rate = 0.1/12,
    down_payment = 3e5
)

In [44]:
emi1

14568

In [45]:
emi2 = loan_emi(
    amount = 1260000,
    duration = 10*12,
    rate = 0.08/12,
)

In [46]:
emi2

15288

In [47]:
if emi1 < emi2:
    print('Option1 has the lower EMI: ${}'.format(emi1))
else:
    print('Option2 has the lower EMI: ${}'.format(emi2))

Option1 has the lower EMI: $14568

## Reusing and improving functions

```
Q: Shaun is currently paying back a home loan for a house he bought a few years ago. The cost of the house was $800,000.  
Shaun made a down payment of 25% of the price. He financed the remaining amount using a 6-year loan with an interest rate of 7% per annum (compounded monthly). Shaun is now buying a car worth $60,000, which he is planning to finance using a 1-year loan with an interest rate of 12% per annum. Both loans are paid back in EMIs. What is the total monthly payment Shaun makes towards loan repayment?```

In [48]:
cost_of_house = 800000
down_payment_house = 0.25 * cost_of_house
remaining_amount_house = cost_of_house - down_payment_house
duration_house = 6*12
rate_house = 0.07/12
emi_house = loan_emi(
    amount = cost_of_house,
    duration = duration_house,
    rate = rate_house,
    down_payment = down_payment_house
)
emi_house

10230

In [50]:
cost_of_car = 60000
duration_car = 1*12
rate_car = 0.12/12
emi_car = loan_emi(
    amount = cost_of_car,
    duration = duration_car,
    rate = rate_car
)
emi_car

5331

In [51]:
total_emi = emi_house+emi_car

In [52]:
total_emi

15561

## Exceptions and try-except

In [53]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount/duration
    emi = math.ceil(emi)
    return emi

In [54]:
emi_with_interest = loan_emi(
    amount=100000,
    duration=10*12,
    rate=0.09/12
)
emi_with_interest

1267

In [55]:
emi_without_interest = loan_emi(
    amount=100000,
    duration=10*12,
    rate=0
)
emi_without_interest

834

In [60]:
total_interest = (emi_with_interest - emi_without_interest)*10*12

In [61]:
print("total interest paid is ${}.".format(total_interest))

total interest paid is $51960.

## Documenting function using Docstrings

In [62]:
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal monthly instalment(EMI) for a loan.
    
    Arguments:
        amount -  Total amount to be spent(loan+down payment)
        duration - duration of loan(in months)
        rate - rate of interest(monthly)
        down_payment (optional)- optional initial payment(deducted from payment)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [63]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal monthly instalment(EMI) for a loan.

    Arguments:
        amount -  Total amount to be spent(loan+down payment)
        duration - duration of loan(in months)
        rate - rate of interest(monthly)
        down_payment (optional)- optional initial payment(deducted from payment)

In [64]:
jovian.commit(project='python-functions-and-scope', environment=None)

[jovian] Updating notebook "s827/python-functions-and-scope" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/s827/python-functions-and-scope

'https://jovian.com/s827/python-functions-and-scope'

# Exercise- Data Analysis for Vacation Planning

In [66]:
def cost_of_trip(flight_cost,hotel_rate,car_rental_rate,duration):
    cost_of_hotel_stay = hotel_rate*duration
    if duration <= 7:
        car_rental = car_rental_rate * 1
    elif duration > 7 and duration <= 14:
        car_rental = car_rental_rate * 2
    total_cost = cost_of_hotel_stay + car_rental + flight_cost
    total_cost = math.ceil(total_cost)
    return total_cost

In [67]:
paris_trip = cost_of_trip(
    flight_cost = 200,
    hotel_rate = 20,
    car_rental_rate = 200,
    duration = 7
)
paris_trip

540

In [68]:
london_trip = cost_of_trip(
    flight_cost = 250,
    hotel_rate = 30,
    car_rental_rate = 120,
    duration = 7
)
london_trip

580

In [69]:
dubai_trip = cost_of_trip(
    flight_cost = 370,
    hotel_rate = 15,
    car_rental_rate = 80,
    duration = 7
)
dubai_trip

555

In [71]:
mumbai_trip = cost_of_trip(
    flight_cost = 450,
    hotel_rate = 10,
    car_rental_rate = 70,
    duration = 7
)
mumbai_trip

590

If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?

In [111]:
trip_dict = {
    "london":london_trip,
    "paris":paris_trip,
    "dubai":dubai_trip,
    "mumbai":mumbai_trip
}
trip_cost_list = list(trip_dict.values())
trip_cost_list

[540, 580, 555, 590]

In [99]:
chose_cheap_trip(paris_trip,london_trip,dubai_trip,mumbai_trip)

540