In [1]:
a_num = 827

In [2]:
if a_num % 2 != 0:
    print('inside')
    print('given number {} is odd.'.format(a_num))

inside
given number 827 is odd.

In [3]:
b_num = 828

In [5]:
if b_num != 0:
    print('given number {} is even'.format(b_num))

given number 828 is even

In [6]:
if a_num % 2 != 0:
    print('given number {} is odd'.format(a_num))
else:
    print('given number {} is even'.format(a_num))

given number 827 is odd

In [7]:
players = ('sachin', 'ganguly', 'dravid')

In [8]:
player = 'laxman'

In [9]:
if player in players:
    print('{} is a player in indian cricket team'.format(player))
else:
    print('{} is not in team'.format(player))

laxman is not in team

# elif statement

In [10]:
winner = 'India'

In [13]:
if winner == 'wi':
    print('wi has won')
elif winner == 'aus':
    print('aus has won')
elif winner == 'eng':
    print('eng has won')
elif winner == 'sa':
    print('sa has won')
elif winner == 'pak':
    print('pak has won')
elif winner == 'India':
    print('India has won the world cup 2023')

India has won the world cup 2023

In [15]:
a_num = 91

In [16]:
if a_num % 2 == 0:
    print('{} is divisible by 2'.format(a_num))
elif a_num % 3 == 0:
    print('{} is divisible by 3'.format(a_num))
elif a_num % 5 == 0:
    print('{} is divisible by 5'.format(a_num))
elif a_num % 7 == 0:
    print('{} is divisible by 7'.format(a_num))

91 is divisible by 7

## using if,elif,else together

In [17]:
a_num = 49

In [18]:
if a_num % 2 == 0:
    print('{} is divisible by 2'.format(a_num))
elif a_num % 3 == 0:
    print('{} is divisible by 3'.format(a_num))
elif a_num % 5 == 0:
    print('{} is divisible by 5'.format(a_num))
else:
    print('All checks failed!')
    print('{} is not divisible by 2,3 or 5'.format(a_num))

All checks failed!
49 is not divisible by 2,3 or 5

## non-boolean conditions

In [19]:
if '':
    print('condition evaluated to True')
else:
    print('condition evaluated to False')

condition evaluated to False

In [20]:
if 'a':
    print('condition evaluated to True')
else:
    print('condition evaluated to False')

condition evaluated to True

## nested conditional statements

In [21]:
a_num = 15

In [22]:
if a_num % 2 == 0:
    print('{} is even'.format(a_num))
    if a_num % 3 == 0:
        print('{} is also divisible by 3'.format(a_num))
    else:
        print('{} is not divisible by 3'.format(a_num))
else:
    print('{} is odd'.format(a_num))
    if a_num % 5 == 0:
        print('{} is also divisible by 5'.format(a_num))
    else:
        print('{} is not divisible by 5'.format(a_num))

15 is odd
15 is also divisible by 5

## shorthand if conditional expression

In [23]:
a_num = 13
if a_num % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'
print('The number {} is {}'.format(a_num, parity))

The number 13 is odd

### if expression

In [24]:
result = 'even' if a_num % 2 == 0 else 'odd'

In [25]:
result

'odd'

## pass statement

In [26]:
a_num

13

In [27]:
if a_num % 2 == 0:
    pass
elif a_num % 13 == 0:
    print('{} is divisible by 13 but not divisible by 2'.format(a_num))

13 is divisible by 13 but not divisible by 2

In [28]:
!pip install jovian --upgrade --quiet

In [29]:
import jovian

In [30]:
jovian.commit(project = 'conditional-statements-and-loops')

[jovian] Please enter your API key ( from https://jovian.com/ ):
API KEY: ········
[jovian] Creating a new project "s827/conditional-statements-and-loops"
[jovian] Committed successfully! https://jovian.com/s827/conditional-statements-and-loops

'https://jovian.com/s827/conditional-statements-and-loops'

# Iteration with while loops

In [31]:
result = 1
i = 1
while i <= 100:
    result *= i
    i += 1
print('factorial of 100 is {}'.format(result))

factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000