In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Py Libraries/Pandas/locations.csv')

In [3]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [4]:
df.life_expectancy.describe()

count    208.000000
mean      73.525288
std        7.542061
min       53.280000
25%       69.380000
50%       75.070000
75%       78.935000
max       86.750000
Name: life_expectancy, dtype: float64

In [6]:
df.continent.describe()

count        210
unique         6
top       Africa
freq          55
Name: continent, dtype: object

In [7]:
df.hospital_beds_per_thousand.mean()

3.0108060606060603

In [8]:
df.gdp_per_capita.mean()

19464.08247826087

In [9]:
df.gdp_per_capita.describe()

count       184.000000
mean      19464.082478
std       19768.790977
min         661.240000
25%        4522.973000
50%       13183.081500
75%       28143.439750
max      116935.600000
Name: gdp_per_capita, dtype: float64

In [10]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania', nan], dtype=object)

In [11]:
df.continent.nunique()

6

## to see a list of unique values and its frequency, better use value_counts() method

In [12]:
df.continent.value_counts()

Africa           55
Europe           51
Asia             47
North America    36
South America    13
Oceania           8
Name: continent, dtype: int64

In [13]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [14]:
df.location.value_counts()

Afghanistan      1
Myanmar          1
Nepal            1
Netherlands      1
New Caledonia    1
                ..
Germany          1
Ghana            1
Gibraltar        1
Greece           1
International    1
Name: location, Length: 212, dtype: int64

In [15]:
df.life_expectancy.value_counts()

76.88    3
77.29    2
72.06    2
72.58    2
76.74    2
        ..
73.77    1
81.33    1
64.07    1
79.93    1
61.49    1
Name: life_expectancy, Length: 197, dtype: int64

In [16]:
df.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')

In [17]:
le_mean = df.life_expectancy.mean()

In [18]:
le_mean

73.52528846153847

In [21]:
df['le_mean'] = df.life_expectancy.map(lambda p: p - le_mean)

In [22]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,le_mean
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987,-8.695288
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431,5.044712
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839,3.354712
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN,10.204712
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495,-12.375288
...,...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147,-7.405288
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251,-9.635288
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775,-12.035288
210,World,NaN,7.794799e+09,72.58,2.705,15469.207,-0.945288
211,International,NaN,NaN,NaN,NaN,NaN,NaN

## using map function

In [26]:
def remean_life_ex(y):
    y.life_expectancy = y.life_expectancy - le_mean
    return y
df.apply(remean_life_ex, axis='columns')

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,le_mean
0,Afghanistan,Asia,3.892834e+07,-8.695288,0.500,1803.987,-8.695288
1,Albania,Europe,2.877800e+06,5.044712,2.890,11803.431,5.044712
2,Algeria,Africa,4.385104e+07,3.354712,1.900,13913.839,3.354712
3,Andorra,Europe,7.726500e+04,10.204712,NaN,NaN,10.204712
4,Angola,Africa,3.286627e+07,-12.375288,NaN,5819.495,-12.375288
...,...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,-7.405288,0.700,1479.147,-7.405288
208,Zambia,Africa,1.838396e+07,-9.635288,2.000,3689.251,-9.635288
209,Zimbabwe,Africa,1.486293e+07,-12.035288,1.700,1899.775,-12.035288
210,World,NaN,7.794799e+09,-0.945288,2.705,15469.207,-0.945288
211,International,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,le_mean
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,-8.695288
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,5.044712
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,3.354712
3,Andorra,Europe,77265.0,83.73,NaN,NaN,10.204712
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,-12.375288

In [28]:
df.life_expectancy - le_mean

0      -8.695288
1       5.044712
2       3.354712
3      10.204712
4     -12.375288
         ...
207    -7.405288
208    -9.635288
209   -12.035288
210    -0.945288
211          NaN
Name: life_expectancy, Length: 212, dtype: float64

## Join 2 columns

In [31]:
df['area'] = df.location + '-' + df.continent

In [32]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,le_mean,area
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987,-8.695288,Afghanistan-Asia
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431,5.044712,Albania-Europe
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839,3.354712,Algeria-Africa
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN,10.204712,Andorra-Europe
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495,-12.375288,Angola-Africa
...,...,...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147,-7.405288,Yemen-Asia
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251,-9.635288,Zambia-Africa
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775,-12.035288,Zimbabwe-Africa
210,World,NaN,7.794799e+09,72.58,2.705,15469.207,-0.945288,NaN
211,International,NaN,NaN,NaN,NaN,NaN,NaN,NaN