# load the dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

C:\Users\INDIA\AppData\Local\Temp\ipykernel_13992\2827120379.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

In [3]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

### 1.  Display Top 10 Rows of The Dataset

In [4]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

### 2. Check Last 10 Rows of The Dataset

In [5]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [6]:
df.shape

(148654, 13)

In [7]:
df.shape[0]

148654

In [8]:
df.shape[1]

13

### 4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

### 5. Check Null Values In The Dataset

In [11]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

### 6. Drop ID, Notes, Agency, and Status Columns

In [12]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [15]:
df.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

### 7. Get Overall Statistics About The Dataframe

In [16]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [17]:
df.describe(include='all')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
count,148654.000000,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000,0.0,148654,38119
unique,NaN,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN,NaN,1,2
top,NaN,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,San Francisco,FT
freq,NaN,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN,NaN,148654,22334
mean,74327.500000,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643,NaN,NaN,NaN
std,42912.857795,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000,NaN,NaN,NaN
25%,37164.250000,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000,NaN,NaN,NaN
50%,74327.500000,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000,NaN,NaN,NaN
75%,111490.750000,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000,NaN,NaN,NaN
max,148654.000000,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000,NaN,NaN,NaN

### 8. Find Occurrence of The Employee Names  (Top 5)

In [19]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [23]:
df.EmployeeName.head(5)

0       NATHANIEL FORD
1         GARY JIMENEZ
2       ALBERT PARDINI
3    CHRISTOPHER CHONG
4      PATRICK GARDNER
Name: EmployeeName, dtype: object

### 9. Find The Number of Unique Job Titles

In [24]:
df['JobTitle'].nunique()

2159

In [28]:
len(df['JobTitle'].unique())

2159

### 10.Total Number of Job Titles Contain Captain

In [29]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [33]:
df[df['JobTitle'].str.contains('Captain', case=False)].JobTitle.count()

552

In [36]:
len(df[df['JobTitle'].str.contains('Captain', case=False)])

552

### 11. Display All the Employee Names From Fire Department

In [37]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
def extract(x):
    for i in range(len(x)):

In [50]:
x = list(df[df['JobTitle'].str.contains('Fire Department', case=False)].EmployeeName)

['PATRICK GARDNER',
 'ALSON LEE',
 'MICHAEL MORRIS',
 'JOANNE HAYES-WHITE',
 'ARTHUR KENNEY',
 'DAVID FRANKLIN',
 'MARTY ROSS',
 'VICTOR WYRSCH',
 'RAYMOND GUZMAN',
 'MONICA FIELDS',
 'JOSE VELO',
 'BRENDAN WARD',
 'MICHAEL THOMPSON',
 'THOMAS ABBOTT',
 'THOMAS SIRAGUSA',
 'BRYAN RUBENSTEIN',
 'KEN YEE',
 'KIRK RICHARDSON',
 'KENNETH SMITH',
 'CHARLES CRANE',
 'ROBERT POSTEL',
 'RICHARD BUSALACCHI',
 'KEVIN BURKE',
 'EDUARDO GONZALEZ',
 'ROBERT WINSLOW',
 'LORRIE KALOS',
 'MICHAEL BRYANT',
 'MARK GONZALES',
 'REX HALE',
 'KEVIN SMITH',
 'KEVIN TAYLOR',
 'ERIKA HOO',
 'SAMSON LAI',
 'KHAIRUL ALI',
 'JOHN HICKEY',
 'EDWARD CHU',
 'ZACHARY PUMPHREY',
 'MARK CASTAGNOLA',
 'LUIS IBARRA-RIVERA',
 'MICHAEL KEARNEY',
 'MATTHEW MCNAUGHTON',
 'GEORGE LYSENKO',
 'ALBERTO PEDRUCO',
 'DWAYNE CURRY',
 'DENNIS SUTTER',
 'ROBERT SERRANO',
 'JAMES VANNUCCHI',
 'CANTREZ TRIPLETT',
 'RYAN KENNEDY',
 'JOHN ROCCO',
 'EDMUND VAIL',
 'ANDREW SAITZ',
 'BERGLIOTH MATHEWS',
 'PABLO SIGUENZA',
 'DANIEL YONTS',
 'DAVID THOMPSON',
 'JAMES BLAKE',
 'RYAN CREAN',
 'RUDY CASTELLANOS',
 'MICHAEL GONZALES',
 'ROBERT LOPEZ',
 'JOHN MURPHY',
 'KENNETH CORDERO',
 'JIM HALL III',
 'MARK JOHNSON',
 'BRENDAN MCGORRIN',
 'WILLIAM MCFARLAND',
 'RAEMONA WILLIAMS',
 'JEFFREY BARDEN',
 'MATTHEW CANNON',
 'RICHARD UNTALAN',
 "DENNIS O'NEILL",
 'FLOYD ROLLINS',
 'THOMAS KOHMANN',
 'RAUL FRANCISCO',
 'ALAN REYNAUD',
 'DENISE NEWMAN',
 'JOHN CREMEN',
 'FRANK KOSTA',
 'FRANK HSIEH',
 'MATTHEW HUTCHINSON',
 'DAVID BROWN',
 'VINCENT NOLAN',
 'CHERISH MURDOCK',
 'LARS ASPELIN',
 'JORGE PLATA',
 'ANESTO ESTRELLA',
 'KENNETH HUPKE',
 'RONALD LEWIN',
 'JOSEPH SCHIEBOLD',
 'CHRISTINE EMMONS',
 'DONALD GOGGIN',
 'ANTHONY BENDIK',
 'NORMAN CABA',
 'SEAN MCKINNEY',
 'ERNEST CARRILLO',
 'MATTHEW SCHWARTZ',
 'ALEXANDER DOUGLAS JR',
 'DUSTIN WINN',
 'ERIC LEAL',
 'DENNIS SULLIVAN',
 'PATRICK RABBITT',
 'JOSEPH BARBERO',
 'ANNE TAM',
 'CHRISTOPHER MADSEN',
 'JEANINE NICHOLSON',
 'JAMES DRAPER',
 'TERRY SMERDEL',
 'CHARLES MC COY',
 'RANDALL HIRO',
 'LLOYD GOLDBERG',
 'AISHA KRIEGER',
 'CHASE WILSON',
 'TYSON YEE',
 'ALLEN WONG',
 'BRIAN WALSH',
 "PAUL O'KANE",
 'PAUL MCDONAGH',
 'JANEEN PIROSKO',
 'ROBERT ARZAVE',
 'RUBEN MONTERO',
 'DAVID MURRAY',
 'KAREN HEALD',
 'GERALD SCULLION',
 'JENNIFER MATHEWS',
 'DARIUS LUTTROPP',
 'NEAL CAVELLINI',
 'JIRO YAMAMOTO',
 'JOEL SATO',
 'KYLE MERKINS',
 'JEFFREY WONG',
 'DOMINIC OTTOBONI',
 'ANGELA ROMERO',
 'JOHN GRANT',
 'DAVID RITTER',
 'WALTER VILLAVICENCIO',
 'KEVIN PARDINI',
 'MARC KASPER',
 'JOE CHAN',
 'CRISTEO REYES',
 'MICHAEL MALONEY',
 'DAVID SMILEY',
 'ETHAN JACKSON',
 'MICHAEL CHARLTON',
 "PATRICK D'ARCY",
 'LAWRENCE CONRAD',
 'MICHAEL BARRY',
 'STEPHEN CASSIDY',
 'ROBERT KISHI',
 'TIMOTHY FARMER',
 'BRICE PEOPLES',
 'DAWN DEWITT',
 'HEATHER PIPER',
 'MARC EVANS',
 'AARON STEVENSON',
 'EUGENE ADAMS',
 'CATHERINE EMMONS-SAMSON',
 'BRENT STUCKERT',
 'KENNETH JONES',
 'MICHAEL DUNCAN',
 'MATTHEW LEE',
 'ANTHONY RIVERA',
 'ANSON WU',
 'HERMAN WOO',
 'THERESA WOLOWIC',
 'PETER GROSS',
 'JAMES REIDY',
 'THERESA KWAN',
 'ANTHONY SMERDEL',
 'RICKY YEE',
 'ERICA ARTESEROS',
 'ROBERT TURNQUIST',
 'SEAN MULLANE',
 'WAYNE WONG',
 'MICHAEL FUCCIOLO',
 'KATHY AUSTIN',
 'BROCK WELLS',
 'KIMBERLY MC KEON',
 'RAMON SERRANO',
 'GREGORY BLATMAN',
 'PATRICK SULLIVAN',
 'SEAN JOHNSTON',
 'KEVIN MC KEON',
 'THOMAS OERTLI',
 'CHRISTOPHER BENZ',
 'JUSTIN BROWN',
 'CYNTHIA RICKERT',
 'CHADWICK ERTOLA',
 'CECILIA JIANG',
 'JOHN CHUNG',
 'JOHN LOPES',
 'ROBERT NEUNEKER',
 'DANIEL GRIFFIN',
 'SHIRLEY SZELA',
 'KAREN KERR',
 'STEPHEN MC PARTLAN',
 'ROBERT MCDONALD',
 'JAMES APP',
 'ROBERT ZLATUNICH',
 'FREDERICK PUTT',
 'SHANE FRANCISCO',
 'ALAN WONG',
 'CLIFTON MERRILL',
 'KENNETH LINNEY',
 'ANTHONY GARIBALDI',
 'MARK HARDEMAN',
 'DAT TRUONG',
 'DWAYNE NEWTON',
 'ALISON YEE',
 'LEONEL TINGIN',
 'RONALD VANPOOL',
 'LESLIE WONG',
 'HELEN KIEFFER',
 'ROBERT CAPPA',
 'SETH RUBENSTEIN',
 'PATRICIA LUI',
 'PATRICK MARTINEZ',
 'AUDRY LEE',
 'VINCENT PEREZ',
 'JENSEN RHODES',
 'AARON STEVENSON',
 'JAMES BARDEN',
 'Joanne Hayes-White',
 'Joanne M Hayes-White',
 'Robert E Evans',
 'Joanne M Hayes-White']

In [49]:
len(x)

226

In [52]:
df[df['JobTitle'].str.contains('Fire Department', case=False)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32623,32624,JAMES BARDEN,"BATTALION CHIEF, (FIRE DEPARTMENT)",0.0,1290.69,5802.68,NaN,7093.37,7093.37,2011,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.0,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.0,23236.0,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
102303,102304,Robert E Evans,"Captain, (Fire Department)",NaN,0.0,35332.78,0.0,35332.78,35332.78,2013,NaN,San Francisco,NaN
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT

### 12. Find Minimum, Maximum, and Average BasePay

In [53]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
df