In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 34, 45],
        "Sex": ["male", "male", "female"],
    }
)

In [4]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   34    male
2  Bonnell, Miss. Elizabeth   45  female

### Each column in a df is a Series

### let's work with the data in column "Age"

In [5]:
df["Age"]

0    22
1    34
2    45
Name: Age, dtype: int64

### how to create Series from scratch

In [6]:
ages = pd.Series([22, 34, 45], name="Age")

In [8]:
ages #no column labels for series only row labels for series

0    22
1    34
2    45
Name: Age, dtype: int64

### max age of passengers

In [9]:
df['Age'].max() #by selecting the Age column from dataframe

45

In [11]:
ages.max()  # from pandas Series

45

### basic statisctics with describe() method

In [12]:
df.describe()

             Age
count   3.000000
mean   33.666667
std    11.503623
min    22.000000
25%    28.000000
50%    34.000000
75%    39.500000
max    45.000000

### aggregations with describe

In [13]:
import numpy as np

In [14]:
series = pd.Series(np.random.randn(1000))

In [15]:
series

0     -1.376956
1      0.940304
2      0.173601
3     -0.678785
4      0.768372
         ...
995   -0.800783
996    1.293549
997   -0.515757
998   -0.911132
999    0.628834
Length: 1000, dtype: float64

In [17]:
series[::2] = np.nan

In [18]:
series

0           NaN
1      0.940304
2           NaN
3     -0.678785
4           NaN
         ...
995   -0.800783
996         NaN
997   -0.515757
998         NaN
999    0.628834
Length: 1000, dtype: float64

In [19]:
series.describe()

count    500.000000
mean       0.055738
std        0.938234
min       -2.891807
25%       -0.572460
50%        0.056766
75%        0.687738
max        2.869231
dtype: float64